<div class="row mb-3">
    <div class="col-sm">
        <form [formGroup]="getTweetsForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="exampleFormControlInput1">Search Keyword</label>
                <input type="text" class="form-control" id="exampleFormControlInput1"
                    placeholder="Search Keyword" formControlName="searchKeyword">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput2">Result Count</label>
                <input type="number" class="form-control" id="exampleFormControlInput2"
                    placeholder="Result Count" formControlName="count">
            </div>
            <button type="submit" [disabled]="!getTweetsForm.valid" class="btn btn-primary mb-2">Search</button>
        </form>
    </div>
</div>